<nz-footer class="footer">
    <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
      <div nz-col nzSpan="8" class="powered-by">
        <span nz-typography>© 2022 DoConnect. All rights reserved.</span>
      </div>
      <div nz-col nzSpan="8" class="powered-by text-center">
        <a href="#">Privacy Policy</a>
      </div>
      <div nz-col nzSpan="8" class="text-right">
        <a href="#">
            <i nz-icon nzType="twitter" nzTheme="outline"></i>
        </a>
        <a href="#">
            <i nz-icon nzType="github" nzTheme="outline"></i>
        </a>
        <a href="#">
            <i nz-icon nzType="instagram" nzTheme="outline"></i>
        </a>
        <a href="#">
            <i nz-icon nzType="facebook" nzTheme="fill"></i>
        </a>
      </div>
    </div>
    
  </nz-footer>