<div *ngIf="!isUserLoggedIn && !isAdminLoggedIn">
    <nz-header class="main-header" nz-row nzType="flex">
        <div>
            <a routerLink="" style="margin-left: 5px;">
                DoConnect
            </a>
        </div>
        <div class="nav-links">
          
            <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Sign Up</a>
            <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
        </div>
    </nz-header>

    <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
        <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
            <li nz-menu-item>
                <a nz-button nzType="link" routerLinkActive="active">About</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link" routerLinkActive="active">Contact</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Sign Up</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
            </li>

        </ul>
    </nz-sider>
</div>


<div *ngIf="isUserLoggedIn">
    <nz-header class="main-header" nz-row nzType="flex">
        <div class="do2">
            <a routerLink="" style="margin-left: 650px;">
                DoConnect
            </a>
        </div>
        <div class="nav-links">

            <a nz-button nzType="link" routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a>
            <a nz-button nzType="link" routerLink="/user/post-question" routerLinkActive="active">Post Question</a>
            <a nz-button nzType="link" routerLink="/chatbox" routerLinkActive="active">Chatbox</a>


            <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
        </div>
    </nz-header>

    <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
        <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/user/post-question"  routerLinkActive="active">Post Question</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/chatbox"  routerLinkActive="active">Chatbox</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/user/search-question" routerLinkActive="active">Search Question</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/user/my-questions" routerLinkActive="active">My Questions</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/user/search-answer" routerLinkActive="active">Search Answer</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link"  (click)="logout()" routerLinkActive="active">Logout</a>
            </li>
        </ul>
    </nz-sider>
</div> 




<div *ngIf="isAdminLoggedIn">
    <nz-header class="main-header" nz-row nzType="flex">
        <div>
            <!-- <img src="https://cdn.doconnect.fr/wp-content/uploads/2021/10/logo-doconnect-e-reputation-scaled.jpg"> -->
            <a routerLink="" style="margin-left: 5px;">
                DoConnect
            </a>
        </div>
        <div class="nav-links">

            <a nz-button nzType="link" routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a>
            <a nz-button nzType="link" routerLink="/chatbox" routerLinkActive="active">Chatbox</a>
            <!-- <a nz-dropdown nzType="link" [nzDropdownMenu]="menu" routerLinkActive="active">
                Questions
                <i nz-icon nzType="down"></i>
              </a>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item routerLink="/user/post-question" routerLinkActive="active">Post Question</li>
                  <li nz-menu-item routerLink="/user/search-question" routerLinkActive="active">Search Question</li>
                  <li nz-menu-item routerLink="/user/my-questions" routerLinkActive="active">My Questions</li>
                  <li nz-menu-item routerLink="/user/search-answer" routerLinkActive="active">Search Answer</li>
                </ul>
              </nz-dropdown-menu> -->
            <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
        </div>
    </nz-header>

    <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
        <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/user/post-question"  routerLinkActive="active">Post Question</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/user/search-question" routerLinkActive="active">Search Question</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/user/my-questions" routerLinkActive="active">My Questions</a>
            </li>
            <li nz-menu-item >
                <a nz-button nzType="link" routerLink="/user/search-answer" routerLinkActive="active">Search Answer</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link"  (click)="logout()" routerLinkActive="active">Logout</a>
            </li>
        </ul>
    </nz-sider>
</div> 